{% extends 'basic.html' %}
{% load static %}
{% load extras %}
{% block title %} Blog: {{post.title}}
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css %}
{% block body %}
{% if found %}
<!-- post details -->
<div class="container mt-3">
  <section class="text-gray-700 body-font">

    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/{{post.image}}">
      </div>
      <div class="container">
        <h1 class="display-4 my-4">{{post.title}}</h1>
        <section class="font-weight-normal">
          {{post.content}}
        </section>
      </div>
    </div>
</div>
</section>
<div class="container bg-gray-300 my-4 pb-3">
  <h2 class="display-4 my-3">Comments({{comments.count}})</h2>
  <!-- Comment Area -->
  {% if user.is_authenticated %}
  <form class="my-4" method="POST" action="/blog/comment">{% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlTextarea1"><small class="text-muted">Post Your Comment Here</small></label>
      <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
      <input type="hidden" name="serial" value="{{post.srl}}">
      <input type="hidden" name="parentSno" value="">
    </div>
    <button class="btn btn-primary" type="submit">Comment</button>
  </form>
  {% else %}
  <h3 class="my-4 text-purple-500 font-weight-bolder text-xl "><a class="pointer" data-toggle="modal"
      data-target="#loginModal"><u class="text-3xl">Login</u></a> to comment on this post.</h3>
  {% endif %}
  <!-- comment View -->
  {% for comment in comments %}
  <div class="media">
    <img src="https://toppng.com/uploads/preview/instagram-default-profile-picture-11562973083brycehrmyv.png" width="30vw" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 font-extrabold">{{comment.user}}</h5>
      {{comment.comment}}.
      <br>
      <!-- reply button -->
      {% if user.is_authenticated %}
      <a class="text-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}"
        aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
        Reply
      </a>
      <!-- reply textarea -->
      <div class="collapse" id="replyBox{{comment.sno}}">
        <div class="card card-body my-2">
          <form action="/blog/comment" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="comment">Post a reply </label>
              <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
              <input type="hidden" name="parentSno" value="{{comment.sno}}">
            </div>
            <input type="hidden" name="serial" value="{{post.srl}}">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      {% else %}
      <a class="text-primary" data-target="#loginModal"
        data-toggle="modal">
         Login to Reply
      </a>
      {% endif %}
      <!-- rendering replies -->
      {% for reply in replyDict|get_val:comment.sno %}
      <div class="media mt-0 ml-4">
        <div class="row mt-0">
          <p class="font-semibold mr-3">{{reply.user}}</p>
          <span>{{reply.comment}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% else %}
<!-- error handeled here -->
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Something went worng.</h1>
      <p class="lead">Please try again. Please contact our support team for any support rquired!!</p>
    </div>
  </div>
</div>

{% endif %}
{% endblock body %}